In [1]:
pip install ggplot==0.4.7

Requirement already satisfied: ggplot==0.4.7 in e:\anaconda\lib\site-packages (0.4.7)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: patsy in e:\anaconda\lib\site-packages (from ggplot==0.4.7) (0.5.1)
Requirement already satisfied: statsmodels in e:\anaconda\lib\site-packages (from ggplot==0.4.7) (0.12.0)
Requirement already satisfied: pandas in e:\anaconda\lib\site-packages (from ggplot==0.4.7) (1.1.3)
Requirement already satisfied: matplotlib in e:\anaconda\lib\site-packages (from ggplot==0.4.7) (3.3.2)
Requirement already satisfied: scipy in e:\anaconda\lib\site-packages (from ggplot==0.4.7) (1.5.2)
Requirement already satisfied: brewer2mpl in e:\anaconda\lib\site-packages (from ggplot==0.4.7) (1.4.1)
Requirement already satisfied: numpy in e:\anaconda\lib\site-packages (from ggplot==0.4.7) (1.19.2)
Requirement already satisfied: six in e:\anaconda\lib\site-packages (from patsy->ggplot==0.4.7) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in e:\anaconda\lib\site-packages (from pandas->ggplot==0.4.7) (2020.1)
Requirement already satisfied: python-dateutil>=2.7.3 in e:\anaconda\lib\site-packages (from pandas->ggplot==0.4.7) (2.8.1)
Requirement already satisfied: pillow>=6.2.0 in e:\anaconda\lib\site-packages (from matplotlib->ggplot==0.4.7) (8.0.1)
Requirement already satisfied: certifi>=2020.06.20 in e:\anaconda\lib\site-packages (from matplotlib->ggplot==0.4.7) (2020.6.20)
Requirement already satisfied: cycler>=0.10 in e:\anaconda\lib\site-packages (from matplotlib->ggplot==0.4.7) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in e:\anaconda\lib\site-packages (from matplotlib->ggplot==0.4.7) (1.3.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.3 in e:\anaconda\lib\site-packages (from matplotlib->ggplot==0.4.7) (2.4.7)

In [2]:
# Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
#Reading the dataset
data = pd.read_csv(r"C:\Users\yashwanth moparthi\Desktop\Recruitment_data.csv")

In [4]:
#Evaluating top 5 values in the dataset
data.head()

   attrition  performance_rating  sales_quota_pct recruiting_source
0          1                   3         1.088190    Applied Online
1          0                   3         2.394173               NaN
2          1                   2         0.497530            Campus
3          0                   2         2.513958               NaN
4          0                   3         1.424789    Applied Online

In [5]:
#Checking data-types of the data
data.dtypes

attrition               int64
performance_rating      int64
sales_quota_pct       float64
recruiting_source      object
dtype: object

In [6]:
#Checking values in the particular column
data['recruiting_source']

0      Applied Online
1                 NaN
2              Campus
3                 NaN
4      Applied Online
            ...
441            Campus
442          Referral
443               NaN
444    Applied Online
445               NaN
Name: recruiting_source, Length: 446, dtype: object

In [7]:
#Getting the average Sales Number grouped by Recruiting Source
n_by_recsrc = data.groupby("recruiting_source")["sales_quota_pct"].mean()

In [8]:
n_by_recsrc.head()

recruiting_source
Applied Online    1.058590
Campus            0.908035
Referral          1.023198
Search Firm       0.886960
Name: sales_quota_pct, dtype: float64

In [9]:
#Getting  the average Attrition Number grouped by Recruiting Source
n_by_attr = data.groupby("recruiting_source")["attrition"].mean()

In [10]:
n_by_attr.head()

recruiting_source
Applied Online    0.246154
Campus            0.285714
Referral          0.333333
Search Firm       0.500000
Name: attrition, dtype: float64